* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'raleway';
}

h2 {
    font-size: 16px;
}

.li, a {
    text-decoration: none;
    color: inherit;
    /*color: #0065FC;*/
}

/*.nav-links, .header-nav-menu {
    color: #0065FC;
}*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}


#header-logo{
    width: 97px;
    height: 45px;
}

.nav-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-block {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-links {
    list-style: none;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    margin-right: 20px;
}


.nav-links li {
    display: inline-block;
    
}

.nav-links li a{
    padding: 15px;
}

.nav-links li a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.header-menu-signup {
    color: #0065FC;
}

.header1{
    padding: 0 2rem;
}

/* header titre */

.header-ti1tle{
    margin-bottom: 0.5rem;
}

.header-sous-titre{
    margin-bottom: 10px;
}
/* barre de recherche*/

.header-form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.header-form-icon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    cursor: pointer;
}

.header-form-search {
    border: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    
}

.header-form-submit {
    padding: 10px;
    background-color: #0065FC;
    color: white;
    border: #F2F2F2 1px solid;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.header-form-submit i {
    display: none;
}

/* section filtre*/

.header-filters{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.header-filters-title{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}

.header-filters-filter {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
}

.header-filters-filter:hover{
    background-color: #f3f8ff;
    transform: scale(1.018);
}

.header-filters-filter-icon{
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.header-filters-filter-title{
    margin: 0 10px 0 10px;
}

.blue-icon{
    color: #0065FC;
}



.hosting-mainCard-stars{
    color: #0065FC;

}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #f2f2f2;
}

/*  section result*/

.header-result{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}

.header-result-icon{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
/* responsive header*/
/* responsive header*/

/* section hébergement*/

.main{
    display: block;
    padding: 0 2rem;
}

.hosting-title{
    height: 30px;
    width: 100%;
    display: block;
}

.hosting-mainCard-figure-img{
    height: 7rem;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.hosting-block{
    flex-flow: row wrap;
    justify-content: space-around;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 60%;
    margin-right: 5%;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.main-block{
    display: flex;
    flex-direction: row;
}

.hosting-popular{
    padding: 10px;
    border-radius: 15px;
    background-color: #F2F2F2;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.hosting-mainCard{
    padding: 5px;
    margin-bottom: 5%;
    border-radius: 15px;
    background-color: white;
    width: 30%;
    
}

.hosting-mainCard-viewMore{
    width: 100%;
    font-weight: bold;
}

.hosting-mainCard:hover{
    transform: scale(1.018);
}
 .hosting-mainCard-figcaption-tiltle .hosting-mainCard-price {
    color: black;
}

   /* secttion populaire*/

.hosting-popular-title{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}

.hosting-mainCard-pop{
    padding: 5px;
    margin-bottom: 5%;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 28%;
}

.hosting-mainCard-pop :hover{
    transform: scale(1.018);
}



.hosting-popular-block-img{
    min-height: 50%;
}

.hosting-popular-block-imgImg{
    object-fit: cover;
    height: 7rem;
    width: 100%;
    border-radius: 15px 0px 0px 15px;
}  

.hosting-mainCard-block{
    display: flex;
    align-items: stretch;
    height: 100%;
}

.hosting-popular-block-text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 50%;
    margin-left: 0.7rem;
}
.hosting-popular-block-text-title{
    width: 80%;
}
.hosting-popular-block-text-price .hosting-popular-block-text-stars{
    align-items: flex-end;
}

.hosting-popular-block-text-stars{
    align-items: flex-end;
}

/*responsive section hebergement et populaire*/
@media screen and (max-width: 900px){

/* responsive header*/
    .header{
        display: block;
        height: 160px;
        padding: 10px 0px;
    }
    #header-logo{
        margin-left: 20px;
    }
    .nav-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-menu {
        order: 2;
    }
    .header-menu-signup {
        order: 1;
        padding: 0 10px 0 0;
    }
    .nav-links{
        width: 100%;
        display: flex;
        border: none;
        margin: 20px 0 0 0;
    }
    .nav-links li:hover {
        border-bottom: 3px solid #0065FC;
        border-width: 100%;
        color: #0065FC;
    }
    .nav-links li a:hover{
        border-top: none;
    }
    .nav-links li{
        
        width: 50%;
        display: block;
        padding: 10px 0px;
        border-bottom: 3px solid #f2f2f2;
        text-align: center;
    }

    .header-form-submit i {
        display: inline;

    }

    .header-form-submit span {
        display: none;
    }

    .header-filters-title{
        width: 100%;
    }
    .hosting-popular{
        padding: 10px;
        border-radius: 15px;
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
    }
/* responsive header*/

    .main-block{
        flex-direction: column-reverse;
        justify-content: center;

    }
    .fa-chart-line{
        padding-left: 23%;
    }
    .hosting-popular {
        padding: 10px;
        border-radius: 15px;
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hosting-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hosting-mainCard{
        width: 100%;
    }
}
/*responsive section hebergement et populaire**/


/* Section activity */

.activity-title{
    margin-top: 5%;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

}


.activity {
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.activity-card-img{

    width: 100%;
    border-radius:  15px 15px 0 0;
    height: calc(100% - 50px);
    object-fit: cover;
}


.activity-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
}
.activity-duo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;
}
.activity-card-duo{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 50%;
}
.activity-card :hover, .activity-card-duo :hover{
    transform: scale(1.018);
}

.activity-card1{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 15px;
}

.activity-card1-c{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 15px; 
}

.activity-card-title{
    padding: 15px;
}

@media screen and (max-width: 899px){
    .activity{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .activity-card-duo{
        margin: 0;
    }
    .activity-card1-c{
        height: 300px;
        margin: 2%;
    }
    .activity-card1-c1 {
        margin-bottom: 3%;
    }
    .footer-column{
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*   Footer  */

footer{
    background-color: #F2F2F2;
    width: 100%;
}

.footer-column{
    display: flex;
    margin-right: 2rem;
    padding-top: 0px;
    padding-right: 2rem;
    padding-bottom: 0px;
    padding-left: 2rem;
    width: 100%; 
}

.footer-column-col{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem 2rem;
}

.footer-column-link{
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}