* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.li, a {
    text-decoration: none;
    color: #0065FC;
}

.header-nav-menu1 {
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3%;
}

#header-logo{
    width: 97px;
    height: 45px;
}



.nav-links {
    list-style: none;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
}


.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover {
    color: #0065FC;
}




/* barre de recherche*/

.header-form {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.header-form-icon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.header-form-search {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
}

button.header-form-submit {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 0px 50px 50px 0px;
}